################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web API and MVC/v15/Server/sqlite3/db.lock
